@inherits System.Web.Mvc.WebViewPage

<div id="fileExplorer">
    <div class="innerContent">
        <span class="headerLabel">Choose a model to open:</span>
        <div id="fileList"></div>
    </div>
    <div class="button" disabled="disabled">
        <span>Open model</span>
    </div>
</div>
