@inherits System.Web.Mvc.WebViewPage

<div id="fileExplorer" class="roundedBox">
    <div class="boxHeader">
        <span class="headerLabel">Open file</span>
        <img id="closeIcon" src="~/Content/Images/Icons/close-white.png" />
    </div>
    <div class="boxContent">
        
    </div>
    <div class="boxFooter">
    </div>
</div>