@inherits System.Web.Mvc.WebViewPage
<div id="AttributeInnerEditorDiv">
    <span class="headerLabel">Edit Attribute:</span>
    <div class="PropertyDiv">
        <span class="label-Small">Name:</span>
        <input id="AttributeNameTextbox" class="Textbox" type="text" data-bind="value: Name, valueUpdate: 'afterkeydown'" />
    </div>
    <div class="PropertyDiv">
        <span class="label-Small">Identifier:</span>
        <input class="Textbox" type="text" data-bind="value: Identifier, valueUpdate: 'afterkeydown'" />
    </div>
    <div class="PropertyDiv">
        <span class="label-Small">Attribute Type:</span>
        <select class="Dropdown" data-bind="options: AttributeTypes,
                                            value: AttributeType,
                                            optionsText: 'name',
                                            optionsValue: 'value'">
        </select>
    </div>
    <div class="PropertyDiv" data-bind="visible: AttributeType() === Enums.AttributeTypes.Constant">
        <span class="label-Small">Constant Value:</span>
        <input class="Textbox" type="text" data-bind="value: ConstantValue, valueUpdate: 'afterkeydown'" />
    </div>
    <div class="PropertyDiv">
        <span class="label-Small">Data Type:</span>
        <select class="Dropdown" data-bind="options: AttributeDataTypes,
                                            value: AttributeDataType,
                                            optionsText: 'name',
                                            optionsValue: 'value'">
        </select>
    </div>

    <div style="clear: both"></div>
</div>
