@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section bodyscripts{
    <script type="text/javascript">
        // General functions
        function adjustLayout() {

            // Set widths for mainPanel and modelDiagramBox
            var mainPanelWidth = $("#bodyArea").outerWidth(true) - $("#sidePanel").outerWidth(true);
            $("#mainPanel").css("width", mainPanelWidth + "px");
            var diagramBoxWidth = mainPanelWidth - $("#propertiesBox").outerWidth(true) - 30; // -30 is the distance to the propertiesbox
            $("#modelDiagramBox").css("width", diagramBoxWidth + "px");
            $("#toolBarContainer").css("width", diagramBoxWidth + "px");

            // Set heights
            var bodyAreaHeight = $(window).height() - $("#headerArea").outerHeight(true);
            $("#bodyArea").css("height", bodyAreaHeight + "px");
            var diagramBoxHeight = bodyAreaHeight - $("#toolBarContainer").outerHeight(true);
            $("#modelDiagramBox").css("height", diagramBoxHeight - 40 + "px");
        }

        // Load
        $(document).ready(function () {

            // Setup page layout and simple controls
            $("#topMenu").simpleMenu();
            adjustLayout(); adjustLayout();
            $(window).resize(function () {
                adjustLayout();
            });
            
            // Initialize components and load data
            $.timer(300, function () {
                var controller = new Controller();
                controller.Initialize();
                controller.NewModel();
            });
        });
    </script>
}
<div id="sidePanel">
    <div id="modelExplorerContainer">
        
    </div>
</div>
<div id="mainPanel">
    <div id="toolBarContainer">
    </div>
    <div id="modelDiagramBox" class="roundedBox">
        <div class="boxContent">

            <div id="SVGCanvasWrapper">
                <div id="SVGCanvas">
                </div>
            </div>
        </div>
        <div class="infoMsgWrapperDiv">
            <div style="visibility: hidden" class="infoMsgOverlay">TEST</div>
        </div>
    </div>
    <div id="propertiesBox" class="roundedBox">
        <div class="boxHeader">
            <span class="headerLabel">Properties - <span id="SetTypeLabel"></span></span>
        </div>
        <div class="boxContent">
            <div id="mainContainer">
            </div>
        </div>
        <div class="boxFooter">
        </div>
    </div>
</div>
