@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section bodyscripts{
    <script type="text/javascript">
        // General functions
        function adjustLayout() {

            // Set widths for mainPanel and visualView
            var mainPanelWidth = $("#bodyArea").outerWidth(true) - $("#sidePanel").outerWidth(true);
            $("#mainPanel").css("width", mainPanelWidth + "px");
            var diagramBoxWidth = mainPanelWidth - 65; //
            $("#visualViewContainer").css("width", diagramBoxWidth + "px");
            $("#toolBarContainer").css("width", diagramBoxWidth + "px");

            // Set heights
            var bodyAreaHeight = $(window).height() - $("#headerArea").outerHeight(true);
            $("#bodyArea").css("height", bodyAreaHeight + "px");
            var diagramBoxHeight = bodyAreaHeight - $("#toolBarContainer").outerHeight(true);
            $("#visualViewContainer").css("height", diagramBoxHeight - 20 + "px");
        }

        // Load
        $(document).ready(function () {

            // Setup page layout and simple controls
            $("#topMenu").simpleMenu();
            adjustLayout(); adjustLayout();
            $(window).resize(function () {
                adjustLayout();
            });

            // Initialize components and load data
            $.timer(300, function () {
                var controller = new Controller();
                controller.Initialize();
                controller.NewModel();
            });

           
        });
    </script>
}

<div id="sidePanel">
    <div id="modelExplorerContainer">
    </div>
</div>
<div id="mainPanel">
    <div id="toolBarContainer">
    </div>
    <div id="visualViewContainer">
    </div>
    <div id="propertyEditorContainer">
    </div>
</div>
