@{
    ViewBag.Title = "Models";
    Layout = "~/Views/Master/_OuterLayout.cshtml";
}
@section scripts{
    $(document).ready(function () { 
        
        function calcWidth()
        {
            //Set width for ModelsBox
            var containerWidth = $(".OuterContentArea .InnerContentArea").width();
            var marginWidth = 30;
            var actionsBoxWidth = $("#ActionsBox").width();
            var modelsBoxWidth = containerWidth - marginWidth - actionsBoxWidth;
            $('#ModelsBox').css("width", modelsBoxWidth + "px");
        }
        calcWidth();
        
        $(window).resize(function() {
            calcWidth();
        });


        //Load Models
         $.ajax({
                type: "POST",
                url: "/Models/GetModels",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: {},
                success: function(response)
                {
                        //debugger;
                },                
                error : function(req, status, error)
                {
                        alert('error');
                }
                });
    
    });
}
@section SettingsArea{

    Logged in as @PresentationLayer.Common.SessionData.LoggedInUser.Email | @Html.ActionLink("Logout", "Logout","General")
}
@section MenuArea{
    <div class="MenuItem">
        Feature Models
    </div>
}



<div id="ActionsBox" class="RoundedBox">
    <div class="BoxHeader">
        <div class="BoxInnerHeader">
            <span class="HeaderLabel">Actions</span>
        </div>
    </div>
    <div class="BoxContent">
        <ul class="ActionList">
            <li class="Button-Normal">
                <img src="../../Content/themes/base/images/Icons/NewModel.png" />
                <span>New Model</span>
            </li>
            <li class="Button-Normal">
                <img src="../../Content/themes/base/images/Icons/Ball.png" />
                <span>Import Model</span>
            </li>
            <li class="Button-Normal">
                <img src="../../Content/themes/base/images/Icons/XML.png" />
                <span>Export as XML</span>
            </li>
            <li class="Button-Normal">
                <img src="../../Content/themes/base/images/Icons/NewModel.png" />
                <span>Compile</span>
            </li>
        </ul>
    </div>

    <div class="BoxFooter">
        <div class="BoxInnerFooter">
        </div>
    </div>
</div>

<div id="ModelsBox" class="RoundedBox">
    <div class="BoxHeader">
        <div class="BoxInnerHeader">
            <span class="HeaderLabel">List of Models</span>
        </div>
    </div>
    <div class="BoxContent">
        
    </div>

    <div class="BoxFooter">
        <div class="BoxInnerFooter">
        </div>
    </div>
</div>