--Update Identifiers
Update Features
Set  Identifier = replace(Name, ' ', '_');

Update Attributes
Set  Identifier = replace(Name, ' ', '_');

Update CustomRules
Set  Identifier = replace(Name, ' ', '_');