/*Templates and layout**************************************************************************/
body 
{
    background: #e8e8dd;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/*OuterLayout-------------------------------------------------------------------*/
.OuterHeaderArea
{
    width:100%;
    background: url(themes/base/images/layout/header-bar.png) repeat-x left top;
    height:77px;
}
.OuterHeaderArea .InnerHeaderArea #LogoElement
{
    display:block;
    float:left;
    margin-top:10px;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea
{
    display: block;
    float: right;
    margin-top: 10px;
    color: #E6E6E6;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea a
{
    color:#E6E6E6;
}

.OuterMenuArea
{
    width:100%;
    background: url(themes/base/images/layout/menu-bar.png) repeat-x left top;
    height:40px;
}
.OuterMenuArea .InnerMenuArea
{
}
.OuterMenuArea .InnerMenuArea .MenuItem
{
    background-color:#6c7275;
    padding:10px 10px 10px 10px;
    float:left;
    
    color:White;
    font-size:17px;
    font-family:Arial;
}

.OuterContentArea
{
    width:100%;
    background: #e8e8dd url(themes/base/images/layout/content-bg.png) repeat-x left top;
    min-height:700px;
}

.OuterHeaderArea .InnerHeaderArea
{
    width:80%;
    height:77px;
    margin: 0 auto;
    color:White;
}
.OuterMenuArea .InnerMenuArea
{
    width:80%;
    height:40px;
    margin: 0 auto;
}
.OuterContentArea .InnerContentArea
{
    width:80%;
    min-height:700px;
    margin: 0 auto;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*Reusable elements*****************************************************************************/
/*RoundedBox--------------------------------------------------------------------*/
.RoundedBox
{
    
}
.RoundedBox .BoxHeader
{
    background:url(themes/base/images/layout/roundedbox-header-right.png) no-repeat right top;
    width:100%;
    height:33px;
    padding-right:20px;
    box-sizing: border-box;
    
}
.RoundedBox .BoxHeader .BoxInnerHeader
{
    background:url(themes/base/images/layout/roundedbox-header-left.png) no-repeat left top;
    width:100%;
    height:23px;
    padding:5px 5px 5px 10px;
    
    
}
.RoundedBox .BoxContent
{
    width:100%;
    height:100%;
    background:white;
    padding:10px;
    box-sizing: border-box;
}

.RoundedBox .BoxBottomActions
{
    box-sizing: border-box;
    width:100%;
    height:50px;
    background:white;
    padding:10px;
}
.RoundedBox .BoxFooter
{
     background:url(themes/base/images/layout/roundedbox-footer-right.png) no-repeat right top;
    width:100%;
    height:6px;
    padding-right:20px;
    box-sizing: border-box;
}
.RoundedBox .BoxInnerFooter
{
    background:url(themes/base/images/layout/roundedbox-footer-left.png) no-repeat left top;
    width:100%;
    height:6px;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*HTML and fonts********************************************************************************/
.Textbox
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
    background: url(themes/base/images/controls/textbox-bg.png) repeat-x left bottom;
}
.Label
{
    font-family:Arial;
    letter-spacing:0.8px;
    font-size:13px;
    color:#3a4043;
}
.HeaderLabel
{
    color:White;
    text-transform:uppercase;
    font-size:15px;
    font-family:Arial;
    letter-spacing:-0.8px;
}
.LogoText
{
    font-family:Tahoma;
    font-size:25px;
    color:#E6E6E6;
    letter-spacing:0.3px;
}
a
{
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}

/*ActionList*/
.ActionList
{
    list-style-type:none;
    padding-left:0;
    margin-top:0;
    
}
.ActionList li
{
    margin-bottom:3px;
    width:124px;
    background: url(themes/base/images/controls/button-standard.png) no-repeat left top;
    padding:6px;
    cursor:pointer;
}
.ActionList li:hover
{
    background: url(themes/base/images/controls/button-standard-hover.png) no-repeat left top;
}
/*Buttons*/
.Button-Standard
{
    width:124px;
    background: url(themes/base/images/controls/button-standard.png) no-repeat left top;
}
.Button-Small
{
    width:90px;
    background: url(themes/base/images/controls/button-small.png) no-repeat left top;
}

.Button-Standard , .Button-Small
{
    height:22px;
    cursor:pointer;
    padding-top:8px;
}
.Button-Standard:hover 
{
    background: url(themes/base/images/controls/button-standard-hover.png) no-repeat left top;

}
.Button-Small:hover
{
    background: url(themes/base/images/controls/button-small-hover.png) no-repeat left top;
}
.Button-Standard span , .Button-Small span
{
    display:block;
    
    font-family:Arial;
    letter-spacing:0.8px;
    font-size:13px;
    font-weight:bold;
    color:#3a4043;
    margin-left:12px;
}
.Button-Standard img , .Button-Small img
{
    float:right;
    margin-top:-7px;
    margin-right:3px;
}
/***********************************************************************************************/

/*Pages*****************************************************************************************/
/*Login-------------------------------------------------------------------------*/
#LoginBox
{
    margin-top:150px;
    width: 250px;
    height:130px;
    margin-left:auto;
    margin-right:auto;
}
#LoginBox #LoginButton
{
    float:right;
}
/*------------------------------------------------------------------------------*/
/*Models------------------------------------------------------------------------*/
#ActionsBox
{
    float:left;
    margin-top:30px;
    width:200px;
    height:300px;
}
#ModelsBox
{
    float:right;
    margin-top:30px;
    width:80%;
    height:500px;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/