/*Templates and layout**************************************************************************/
body
{
    background: #e8e8dd;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    margin-bottom:30px;
    padding: 0;
}

/*OuterLayout-------------------------------------------------------------------*/
.OuterHeaderArea
{
    width: 100%;
    background: url(themes/base/images/layout/header-bar.png) repeat-x left top;
    height: 77px;
}
.OuterHeaderArea .InnerHeaderArea #LogoElement
{
    display: block;
    float: left;
    margin-top: 20px;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea
{
    display: block;
    float: right;
    margin-top: 10px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #E6E6E6;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea a
{
    color: #FFCC00;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
}

.OuterMenuArea
{
    width: 100%;
    background: url(themes/base/images/layout/menu-bar.png) repeat-x left top;
    height: 40px;
}
.OuterMenuArea .InnerMenuArea .MenuItem
{
    height: 40px;
    float: left;
    margin-right: 5px;
    width: 184px;
}
.OuterMenuArea .InnerMenuArea .MenuItem a
{
    box-sizing: border-box;
    background-color: #6c7275;
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 5px 10px 5px;
    float: left;
    color: #FFCC00;
    font-size: 17px;
    font-family: Arial;
    letter-spacing: 1.8px;
    text-align: center;
}
.OuterMenuArea .InnerMenuArea .MenuItem a:hover
{
    background-color: #82868A;
    text-decoration: none;
}
.OuterContentArea
{
    width: 100%;
    background: #e8e8dd url(themes/base/images/layout/content-bg.png) repeat-x left top;
    min-height: 700px;
}

.OuterHeaderArea .InnerHeaderArea
{
    width: 95%;
    height: 77px;
    margin: 0 auto;
    color: White;
}
.OuterMenuArea .InnerMenuArea
{
    width: 95%;
    height: 40px;
    margin: 0 auto;
}
.OuterContentArea .InnerContentArea
{
    width: 95%;
    min-height: 700px;
    margin: 0 auto;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*Reusable elements*****************************************************************************/
/*RoundedBox--------------------------------------------------------------------*/
.RoundedBox
{
}
.RoundedBox .BoxHeader
{
    background: url(themes/base/images/layout/roundedbox-header-right.png) no-repeat right top;
    width: 100%;
    height: 33px;
    padding-right: 20px;
    box-sizing: border-box;
}
.RoundedBox .BoxHeader .BoxInnerHeader
{
    background: url(themes/base/images/layout/roundedbox-header-left.png) no-repeat left top;
    width: 100%;
    height: 23px;
    padding: 5px 5px 5px 10px;
}
.RoundedBox .BoxContent
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: white;
    padding: 10px;
    padding-bottom: 5px;
}

.RoundedBox .BoxBottomActions
{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: white;
    padding: 10px;
}
.RoundedBox .BoxFooter
{
    box-sizing: border-box;
    background: url(themes/base/images/layout/roundedbox-footer-right.png) no-repeat right top;
    width: 100%;
    height: 6px;
    padding-right: 20px;
}
.RoundedBox .BoxInnerFooter
{
    background: url(themes/base/images/layout/roundedbox-footer-left.png) no-repeat left top;
    width: 100%;
    height: 6px;
}
/*------------------------------------------------------------------------------*/
/*Grid--------------------------------------------------------------------------*/
.grid
{
    width: 100%;
}
.grid thead th
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    background-color: #FFE784;
    text-align: left;
    padding: 10px 5px 10px 5px;
    letter-spacing: 0.9px;
    white-space: nowrap;
}
.grid tbody td
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    padding: 0px 5px 0px 5px;
    background-color: #FFF7D7;
    border-bottom: solid 1px #FFEFB0;
    height: 40px;
}

.grid tbody tr:hover td
{
    background-color: #FFF3C4;
}

.grid tbody td.FirstColumn
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    font-weight: bold;
    color: #3a4043;
}

.grid tbody td span
{
    color: #3a4043;
}
.grid tbody td.FirstColumn a
{
    color: #3a4043;
}
.grid tbody td.FirstColumn img
{
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
}

.grid tbody tr:hover td
{
}
.grid tbody td.ActionsTD .Wrapper
{
    margin-left: auto;
    margin-right: auto;
    height: 38px;
    width: 50px;
}
.grid tbody td.ActionsTD .Wrapper .IconButton-Normal
{
    margin-left: 5px;
}
/*------------------------------------------------------------------------------*/
/*BlockUI-----------------------------------------------------------------------*/
div.blockMsg
{
    padding: 5px !important;
    display: table-cell;
    width: 150px !important;
    height: 70px;
    border: 1px solid #FFDC51;
    background-color: #ffe784;
}

div.blockMsg div.wrapperdiv
{
    margin-left: auto;
    margin-right: auto;
}

div.blockMsg span
{
    display: block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #3a4043;
}
div.blockMsg img
{
}
/*------------------------------------------------------------------------------*/
/*PinesNotify-------------------------------------------------------------------*/
.ui-pnotify
{
    top: 18px;
    right: 18px;
    position: absolute;
    height: auto;
    border: 1px solid #ffe784;
    background-color: #fff7d7; /* Ensure that the notices are on top of everything else. */
    z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify
{
    position: fixed;
}
.ui-pnotify .ui-pnotify-shadow
{
    margin: 0;
    position: absolute;
    top: .1em;
    left: .1em;
    bottom: -.2em;
    right: -.2em;
    z-index: -1;
}
.ui-pnotify-container
{
    background-position: 0 0;
    padding: 10px;
    height: 100%;
}
.ui-pnotify-closer
{
    float: right;
    margin-left: .2em;
    background: solid 1px red;
}
.ui-pnotify-title
{
    display: block;
    font-size: 1.2em;
    float: left;
    width: 70%;
    margin-top: 5px;
}
.ui-pnotify-text
{
    display: block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #3a4043;
    float: left;
    padding: 10px;
}
.ui-pnotify-icon, .ui-pnotify-icon span
{
    display: block;
    float: left;
    margin-right: 5px;
}

.pnotifyNoticeIcon
{
    width: 32px;
    height: 32px;
    background: url(themes/base/images/icons/success-notification.png) no-repeat center center;
}

.pnotifyErrorIcon
{
    width: 32px;
    height: 32px;
    background: url(themes/base/images/icons/error-notification.png) no-repeat center center;
}
/*History Pulldown*/
.ui-pnotify-history-container
{
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none; /* Ensure that the history container is on top of the notices. */
    z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header
{
    padding: 2px;
}
.ui-pnotify-history-container button
{
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown
{
    display: block;
    margin: 0 auto;
}

.ui-pnotify .picon
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*HTML and fonts********************************************************************************/
.Textbox
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
}
.Dropdown
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
}
.Label
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #4F575B;
}
.Textarea
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
    height: 100px;
}
.Checkbox
{
    padding-top: 8px;
}
.Label-Small
{
    font-family: Arial;
    letter-spacing: 0.3px;
    font-size: 10px;
    color: #4F575B;
}
.HeaderLabel
{
    color: #F0F0F0;
    font-size: 13px;
    font-family: Arial;
    letter-spacing: 0.9px;
}
.LogoText
{
    font-family: Tahoma;
    font-size: 25px;
    color: #E6E6E6;
    letter-spacing: 0.3px;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

/*ActionList*/
.ActionList
{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.ActionList li
{
    width: 150px;
    margin-bottom: 2px;
}
.ActionList li:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
/*Buttons*/
.Button-Normal
{
    border: 1px solid #FFDC51;
    background: #ffe784;
    padding: 6px;
    cursor: pointer;
    height: 20px;
    min-width: 80px;
}
.Button-Normal:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.Button-Normal span
{
    display: block;
    margin-top: 3px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: #3a4043;
}
.Button-Normal span span.underline
{
    display:inline-block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: #3a4043;
    text-decoration:underline;
}
.Button-Normal img
{
    float: right;
    margin-top: -2px;
}
.Button-Normal[disabled=disabled]
{
    border: 1px solid #D8D8D8;
    background: #D8D8D8;
    cursor: default;
}
.Button-Normal[disabled=disabled]:hover
{
    border: 1px solid #D8D8D8;
    background: #D8D8D8;
    cursor: default;
}

.Button-Thin
{
    border: 1px solid #E6E6E6;
    background-color: #EFEFEF;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    height: 20px;
    min-width: 80px;
}
.Button-Thin:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.Button-Thin span
{
    display: block;
    margin-top: 4px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 10px;
    font-weight: bold;
    color: #3a4043;
}
.Button-Thin img
{
    float: right;
    margin-top: 2px;
}


.IconButton-Normal
{
    border: 1px solid transparent;
    padding: 6px 6px 1px 6px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 31px;
}
.IconButton-Normal:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.IconButton-Normal img
{
    float: left;
    clear: both;
    margin-bottom: 3px;
    margin-left: 6px;
}
.IconButton-Normal span
{
    display: block;
    float: left;
    font-size: 8px;
    clear: both;
    text-align: center;
}

.IconButton-Simple
{
    border: 1px solid transparent;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.IconButton-Simple:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.IconButton-Simple img
{
    float: left;
    clear: both;
}
/***********************************************************************************************/
/*Pages*****************************************************************************************/
/*Login-------------------------------------------------------------------------*/
#LoginBox
{
    margin-top: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#LoginBox #LoginButton
{
    float: right;
}
/*------------------------------------------------------------------------------*/
/*Models------------------------------------------------------------------------*/
#ActionsBox
{
    float: left;
    margin-top: 30px;
}
#ModelsBox
{
    float: right;
    margin-top: 30px;
    width: 80%;
}
/*------------------------------------------------------------------------------*/
/*ModelEditor-------------------------------------------------------------------*/
#ToolBox
{
    float: left;
    margin-top: 30px;
    width: 185px;
}


/*PropertiesBox*/
#PropertiesBox
{
    float: right;
    margin-top: 30px;
    width: 300px;
}
#PropertiesBox table
{
    width: 100%;
}
#PropertiesBox table tbody td
{
    vertical-align: top;
}
#PropertiesBox table tbody td .Label-Small
{
    display: block;
    margin-top: 8px;
    float: left;
    white-space: nowrap;
}
#PropertiesBox .Textbox, #PropertiesBox .Dropdown, #PropertiesBox .Textarea
{
    width: 100%;
    min-width:150px;
    box-sizing: border-box;
}
#PropertiesBox .AreaDiv
{
    background-color: #F7F7F7;
    padding: 5px;
    
}
#PropertiesBox .AreaDiv .InnerContainer
{
    padding: 5px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv
{
    box-sizing: border-box;
    float: left;
    width: 100%;
    
    padding: 5px;
    padding-bottom: 5px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .ListActionsDiv
{
    box-sizing: border-box;
    float:left;
    margin-bottom:10px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .NestedControl
{
    box-sizing: border-box;
    float: left;
    width: 100%;
    border: 1px solid #E6E6E6;
    background-color: #EFEFEF;
    text-align: left;
    padding: 8px;
    margin-top: 2px;
    cursor: default;
}



#PropertiesBox .AreaDiv .InnerContainer .ListDiv .Selected
{
    background-color: #FFEDA4;
    border: 1px solid #FFDB48;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .NestedControl:hover
{
    background-color: #FFEDA4;
    border: 1px solid #FFDB48;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .NestedControl .IconButton-Simple
{
    float:right;
}
#PropertiesBox .AreaDiv .InnerContainer .DetailsDiv
{
    box-sizing: border-box;
    width: 100%;
    clear: both;
    float: left;
    border-top: 1px solid #DDDDDD;
    padding: 5px;
    overflow:auto;
    background-color:#fff7d7;
    
}
#PropertiesBox .AreaDiv .InnerContainer .DetailsDiv .Composite
{
    width:100%;
}

/*ModelDiagramBox*/ 
#ModelDiagramBox
{
    float: right;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 29px;
    
    width: 80%;
    
}

#ModelDiagramBox #SVGCanvasWrapper 
{
    overflow:scroll;
    width:100%;
    height:700px;
}
#ModelDiagramBox #SVGCanvasWrapper #SVGCanvas
{
    width: 6500px;
    height: 4500px;
    background-color:White;
}
#ModelDiagramBox #SVGCanvas .Inputbox
{
    border: 1px solid #E6E6E6;
    font-size: 11px;
    text-align: center;
}

/*Overriden stuff*/
.OuterMenuArea .InnerMenuArea .MenuItemSeparator
{
    float: left;
    color: #FFCC00;
    font-size: 17px;
    font-family: Arial;
    letter-spacing: 0.8px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    width: 29px;
    padding-right: 1px;
}
.OuterMenuArea .InnerMenuArea #ModelMenuBar
{
    height: 40px;
    float: left;
}
.OuterMenuArea .InnerMenuArea #ModelMenuBar #ModelNameTextbox
{
    margin: 7px 20px 0 0;
    float: left;
    width: 200px;
    border: none !important;
    padding-left: 10px;
}
.OuterMenuArea .InnerMenuArea #ModelMenuBar .Button-Toolbar
{
    border-left: 1px solid #707070;
    padding: 9px 12px 0 12px;
    cursor: pointer;
    float: left;
    height: 31px;
    vertical-align: middle;
}
.Button-Toolbar:hover
{
    background: #4B5254;
}
.Button-Toolbar span
{
    display: block;
    margin-top: 3px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    float: right;
}
.Button-Toolbar img
{
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    vertical-align: middle;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/