.DropdownControl
{
    float:left;
    clear:both;
    width:140px;
}

.DropdownControl option[selected]
{
    
}

.DropdownControl .defaultOption
{
}
.DropdownControl .defaultOption[selected]
{
}
.DropdownControl .defaultOption[disabled]
{
}

.DropdownControl option[disabled]
{
    color: #CCCCCC;
    background-color: #DDDDDD;
}
