<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/DataEntities.DataEntities.csdl|res://*/DataEntities.DataEntities.ssdl|res://*/DataEntities.DataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RADU-HP;Initial Catalog=OpenConfiguratorDEV_1.0.0;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>