@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section bodyscripts{
    <script type="text/javascript">

        requirejs.config({
            baseUrl: "SPA/",
            urlArgs: "bust=" + (new Date()).getTime()
        });

        require(["Main/Controller"], function (Controller) {
            var controller = new Controller();
            controller.Initialize();
            controller.LoadConfigFromExistingModel("hello");
        });

    </script>
}

<div id="mainPanel">
    <div id="toolBarContainer">
    </div>
    <div id="configurationEditorContainer">
    </div>
    
</div>
