@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section headerscripts{
    @RenderSection("headerscripts", false)
}

<div id="frame">
    <div id="headerArea">
        <div id="topMenuBar">
            <div id="logo">
            </div>
            <ul id="topMenu">
                <li><a href="#">File</a>
                    <ul>
                        <li><a href="#">New model</a></li>
                        <li><a href="#">Open</a></li>
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Export as...</a></li>
                    </ul>
                </li>
                <li><a href="#">View</a>
                    <ul>
                        <li><a href="#">Zoom</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Settings</a>
                    <ul>
                        <li><a href="#">Options</a></li>
                        <li><a href="#">Preferences</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </div>
    <div id="bodyArea">
        @RenderBody()
    </div>
</div>
