/*Templates and layout**************************************************************************/
body
{
    background: #e8e8dd;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}

/*OuterLayout-------------------------------------------------------------------*/
.OuterHeaderArea
{
    width: 100%;
    background: #42494c url(themes/base/images/layout/header-bar.png) repeat-x left top;
    height: 87px;
}
.OuterHeaderArea .InnerHeaderArea #LogoElement
{
    display: block;
    float: left;
    margin-top: 8px;
    font-family: Tahoma;
    font-size: 22px;
    color: #E6E6E6;
    letter-spacing: 1.9px;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea
{
    display: block;
    float: right;
    margin-top: 10px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #E6E6E6;
}
.OuterHeaderArea .InnerHeaderArea #SettingsArea a
{
    color: #FFCC00;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
}

.TopMenuBar
{
    width: 100%;
    float: left;
    margin-top: 25px;
}
.TopMenuBar .TopMenuItem
{
    float: left;
}
.TopMenuBar .TopMenuItem a
{
    color: #818181;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    padding: 8px 12px 9px 12px;
    border: solid 1px transparent;
    text-transform: uppercase;
}
.TopMenuBar .TopMenuItem[selected] a
{
    color: #FFCC00;
    border: solid 1px #616161;
    border-bottom: solid 1px transparent;
    background-color: #50585b;
}
.TopMenuBar .TopMenuItem a:hover
{
    text-decoration: none;
    color: #FFCC00;
    border: solid 1px #616161;
    border-bottom: solid 1px transparent;
    background-color: #52595c;
}

.OuterLowerMenuArea
{
    width: 100%;
    background: url(themes/base/images/layout/menu-bar.png) repeat-x left top;
    height: 30px;
}

.OuterLowerMenuArea .InnerLowerMenuArea .BreadCrumbRoot
{
    height: 30px;
    float: left;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    display: block;
    padding: 6px 15px 10px 15px;
    float: left;
    background-color: #6c7275;
    font-size: 13px;
    color: #FFEFAE;
    font-family: Arial;
    letter-spacing: 2.5px;
    text-align: center;
    width: 184px;
}

.OuterContentArea
{
    width: 100%;
    background: #e8e8dd url(themes/base/images/layout/content-bg.png) repeat-x left top;
    min-height: 700px;
}
.OuterHeaderArea .InnerHeaderArea
{
    width: 95%;
    height: 77px;
    margin: 0 auto;
    color: White;
}
.OuterLowerMenuArea .InnerLowerMenuArea
{
    width: 95%;
    height: 40px;
    margin: 0 auto;
}
.OuterContentArea .InnerContentArea
{
    width: 95%;
    min-height: 700px;
    margin: 0 auto;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*Reusable elements*****************************************************************************/
/*RoundedBox--------------------------------------------------------------------*/
.RoundedBox
{
}
.RoundedBox .BoxHeader
{
    background: url(themes/base/images/layout/roundedbox-header-right.png) no-repeat right top;
    width: 100%;
    height: 33px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.RoundedBox .BoxHeader .BoxInnerHeader
{
    background: url(themes/base/images/layout/roundedbox-header-left.png) no-repeat left top;
    width: 100%;
    height: 23px;
    padding: 5px 5px 5px 10px;
}

/*ViewToolBar*/
.RoundedBox .BoxHeader .BoxInnerHeader .ViewToolBar
{
    float: right;
    width:300px;
    padding-top:7px;
    margin-top:-6px;
}
.RoundedBox .BoxHeader .BoxInnerHeader .ViewToolBar .ZoomLabel
{
    float: right;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    height: 18px;
    margin-left:3px;
    border: 1px solid #676767;
    margin-top:-3px;
    padding:4px 2px 2px 2px;
    width:40px;
    text-align:right;
   
    background: #4B5254;
}
.RoundedBox .BoxHeader .BoxInnerHeader .ViewToolBar .Button-Toolbar
{
    float:right;
    margin-top:-3px;
    cursor:pointer;
    border: 1px solid #676767;
    height:24px;
    background: #4B5254;
    padding-left:3px;
}
.RoundedBox .BoxHeader .BoxInnerHeader .ViewToolBar .Button-Toolbar img
{
    margin-top:0;   
}
.RoundedBox .BoxHeader .BoxInnerHeader .ViewToolBar .Button-Toolbar:hover
{
    float: right;
    margin-top: -3px;
    cursor: pointer;
    background: #A68500;
    border: 1px solid #E1B500;
}

.RoundedBox .BoxContent
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: white;
    padding: 10px;
    padding-bottom: 5px;
}

.RoundedBox .BoxBottomActions
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: white;
    padding: 10px;
}
.RoundedBox .BoxFooter
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: url(themes/base/images/layout/roundedbox-footer-right.png) no-repeat right top;
    width: 100%;
    height: 6px;
    padding-right: 20px;
}
.RoundedBox .BoxInnerFooter
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url(themes/base/images/layout/roundedbox-footer-left.png) no-repeat left top;
    width: 100%;
    height: 6px;
}
/*------------------------------------------------------------------------------*/
/*Grid--------------------------------------------------------------------------*/
.grid
{
    width: 100%;
}
.grid thead th
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    background-color: #FFE784;
    text-align: left;
    padding: 10px 5px 10px 5px;
    letter-spacing: 0.9px;
    white-space: nowrap;
}
.grid tbody td
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    padding: 0px 5px 0px 5px;
    background-color: #FFF7D7;
    border-bottom: solid 1px #FFEFB0;
    height: 40px;
}

.grid tbody tr:hover td
{
    background-color: #FFF3C4;
}

.grid tbody td.FirstColumn
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    font-weight: bold;
    color: #3a4043;
}

.grid tbody td span
{
    color: #3a4043;
}
.grid tbody td.FirstColumn a
{
    color: #3a4043;
}
.grid tbody td.FirstColumn img
{
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
}

.grid tbody tr:hover td
{
}
.grid tbody td.ActionsTD .SingleWrapper
{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}
.grid tbody td.ActionsTD .MultiWrapper
{
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100px;
}
.grid tbody td.ActionsTD .Wrapper .IconButton-Normal
{
    display: inline-block;
    margin-left: 5px;
    float: left;
}
/*------------------------------------------------------------------------------*/
/*BlockUI-----------------------------------------------------------------------*/
div.blockMsg
{
    padding: 5px !important;
    display: table-cell;
    width: 150px !important;
    height: 70px;
    border: 1px solid #FFDC51;
    background-color: #ffe784;
}

div.blockMsg div.wrapperdiv
{
    margin-left: auto;
    margin-right: auto;
}

div.blockMsg span
{
    display: block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #3a4043;
}
div.blockMsg img
{
}
/*------------------------------------------------------------------------------*/
/*PinesNotify-------------------------------------------------------------------*/
.ui-pnotify
{
    top: 18px;
    right: 18px;
    position: absolute;
    height: auto;
    border: 1px solid #ffe784;
    background-color: #fff7d7; /* Ensure that the notices are on top of everything else. */
    z-index: 9999;
}

/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify
{
    position: fixed;
}
.ui-pnotify .ui-pnotify-shadow
{
    margin: 0;
    position: absolute;
    top: .1em;
    left: .1em;
    bottom: -.2em;
    right: -.2em;
    z-index: -1;
}
.ui-pnotify-container
{
    background-position: 0 0;
    padding: 10px;
    height: 100%;
}
.ui-pnotify-closer
{
    float: right;
    margin-left: .2em;
    background: solid 1px red;
}
.ui-pnotify-title
{
    display: block;
    font-size: 1.2em;
    float: left;
    width: 70%;
    margin-top: 5px;
}
.ui-pnotify-text
{
    display: block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #3a4043;
    float: left;
    padding: 10px;
}
.ui-pnotify-icon, .ui-pnotify-icon span
{
    display: block;
    float: left;
    margin-right: 5px;
}

.pnotifyNoticeIcon
{
    width: 32px;
    height: 32px;
    background: url(themes/base/images/icons/success-notification.png) no-repeat center center;
}

.pnotifyErrorIcon
{
    width: 32px;
    height: 32px;
    background: url(themes/base/images/icons/error-notification.png) no-repeat center center;
}
/*History Pulldown*/
.ui-pnotify-history-container
{
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none; /* Ensure that the history container is on top of the notices. */
    z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header
{
    padding: 2px;
}
.ui-pnotify-history-container button
{
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown
{
    display: block;
    margin: 0 auto;
}

.ui-pnotify .picon
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
}
/*------------------------------------------------------------------------------*/
/*SimpleTree--------------------------------------------------------------------*/
.simpleTree
{
    background: #f7f7f7;
}
.simpleTree ul
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
}

.simpleTree ul.root
{
}
.simpleTree ul.level0
{
    padding-left: 12px;
}
.simpleTree li.row
{
    list-style-type: none;
}

.simpleTree li.row .node
{
    width: 100%;
    float: left;
}

.simpleTree li.row .node div.expander
{
    width: 12px;
    height: 20px;
    float: left;
}
.simpleTree li.row .node[nodeDisplayState=expanded] div.expander
{
    background: url(themes/base/images/controls/simpletree/minus.png) no-repeat center center;
    cursor: pointer;
}
.simpleTree li.row .node[nodeDisplayState=collapsed] div.expander
{
    background: url(themes/base/images/controls/simpletree/plus.png) no-repeat center center;
    cursor: pointer;
}

.simpleTree li.row .node .innerNode
{
    width: auto;
    float: left;
    min-height: 16px;
    cursor: default;
    padding: 2px 2px 2px 2px;
    border: solid 1px transparent;
}
.simpleTree li.row .node .innerNode:hover
{
    background-color: #E8E8FF;
}
.simpleTree li.row .node[selected] .innerNode
{
    background-color: #e1e9ff;
    border: solid 1px black;
}

.simpleTree li.row .node .innerNode div.icon
{
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: default;
}
.simpleTree li.row .node .innerNode div.name
{
    float: left;
    margin-top: 2px;
    margin-left: 3px;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
}

/*Font styles*/
.simpleTree ul.root li.row .node .innerNode div.name
{
    font-family: Arial;
    letter-spacing: 0.3px;
    font-size: 12px;
    color: #2F3335;
}
.simpleTree ul.level0 li.row .node .innerNode div.name
{
    font-family: Arial;
    letter-spacing: 0.3px;
    font-size: 10px;
    color: #2F3335;
    max-width: 100px;
    overflow: hidden;
}

/*Types*/
.simpleTree li.row .folder .innerNode div.icon
{
    background: url(themes/base/images/controls/simpletree/folder-closed.png) no-repeat left top;
}
.simpleTree li.row .folder[nodeDisplayState=expanded] .innerNode div.icon
{
    background: url(themes/base/images/controls/simpletree/folder-open.png) no-repeat left top;
}
.simpleTree li.row .feature .innerNode div.icon
{
    background: url(themes/base/images/controls/simpletree/feature.png) no-repeat left top;
}
.simpleTree li.row .compositionRule .innerNode div.icon
{
    background: url(themes/base/images/controls/simpletree/elementx.png) no-repeat left top;
}
.simpleTree li.row .customRule .innerNode div.icon
{
    background: url(themes/base/images/controls/simpletree/elementx.png) no-repeat left top;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/
/*HTML and fonts********************************************************************************/
.Textbox
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
}
.Textbox[invalid]
{
    border: 1px solid red;
}
.Dropdown
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
}
.Label
{
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 13px;
    color: #4F575B;
}
.Textarea
{
    border: 1px solid #E6E6E6;
    padding: 5px;
    width: 215px;
    height: 100px;
}
.Textarea[invalid]
{
    border: 1px solid red;
}
.Checkbox
{
    padding-top: 8px;
}
.Label-Small
{
    font-family: Arial;
    letter-spacing: 0.3px;
    font-size: 10px;
    color: #4F575B;
}
.HeaderLabel
{
    color: #E0E0E0;
    font-size: 13px;
    font-family: Arial;
    letter-spacing: 0.9px;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

/*ActionList*/
.ActionList
{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.ActionList li
{
    width: 150px;
    margin-bottom: 2px;
}
.ActionList li:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}

/*Buttons*/
.Button-Normal
{
    border: 1px solid #FFDC51;
    background: #ffe784;
    padding: 6px;
    cursor: pointer;
    height: 20px;
    min-width: 80px;
}
.Button-Normal:hover, .Button-Normal-Focus
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.Button-Normal span
{
    display: block;
    margin-top: 3px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: #3a4043;
}
.Button-Normal span span.underline
{
    display: inline-block;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: #3a4043;
    text-decoration: underline;
}
.Button-Normal img
{
    float: right;
    margin-top: -2px;
}
.Button-Normal[disabled=disabled]
{
    border: 1px solid #D8D8D8;
    background: #D8D8D8;
    cursor: default;
}
.Button-Normal[disabled=disabled]:hover
{
    border: 1px solid #D8D8D8;
    background: #D8D8D8;
    cursor: default;
}

.Button-Thin
{
    border: 1px solid #E6E6E6;
    background-color: #EFEFEF;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    height: 20px;
    min-width: 80px;
}
.Button-Thin:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.Button-Thin span
{
    display: block;
    margin-top: 4px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 10px;
    font-weight: bold;
    color: #3a4043;
}
.Button-Thin img
{
    float: right;
    margin-top: 2px;
}


.IconButton-Normal
{
    border: 1px solid transparent;
    padding: 6px 6px 1px 6px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 31px;
}
.IconButton-Normal:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.IconButton-Normal img
{
    float: left;
    clear: both;
    margin-bottom: 3px;
    margin-left: 6px;
}
.IconButton-Normal span
{
    display: block;
    float: left;
    font-size: 8px;
    clear: both;
    text-align: center;
}

.IconButton-Simple
{
    border: 1px solid transparent;
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.IconButton-Simple:hover
{
    background: #FFCC00;
    border: 1px solid #E1B500;
}
.IconButton-Simple img
{
    float: left;
    clear: both;
}
/***********************************************************************************************/
/*Pages*****************************************************************************************/
/*Login-------------------------------------------------------------------------*/
#LoginBox
{
    margin-top: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#LoginBox #LoginButton
{
    float: right;
}
/*------------------------------------------------------------------------------*/
/*Models------------------------------------------------------------------------*/
#ModelsActionsBox
{
    float: left;
    margin-top: 30px;
}
#ModelsBox
{
    float: right;
    margin-top: 30px;
    width: 80%;
}
/*------------------------------------------------------------------------------*/
/*Configurations----------------------------------------------------------------*/
#ConfigurationsActionsBox
{
    float: left;
    margin-top: 30px;
}
#ConfigurationsBox
{
    float: right;
    margin-top: 30px;
    width: 80%;
}
/*------------------------------------------------------------------------------*/
/*Editors common stuff----------------------------------------------------------*/
.LeftColumn
{
    float: left;
}
.CenterColumn
{
    float: right;
}
.RightColumn
{
    float: right;
}

/*Overriden stuff*/
.OuterLowerMenuArea .InnerLowerMenuArea .MenuItemSeparator
{
    float: left;
    color: #E8E9EA;
    font-size: 17px;
    font-family: Arial;
    letter-spacing: 0.8px;
    height: 20px;
    text-align: center;
    width: 33px;
    padding-top: 6px;
}
.OuterLowerMenuArea .InnerLowerMenuArea .SubMenuSpecialBar
{
    height: 20px;
    float: left;
    width:70%;
}
.OuterLowerMenuArea .InnerLowerMenuArea .SubMenuSpecialBar .Textbox
{
    background-color: transparent;
    float: left;
    width: 250px;
    padding-left: 9px !important;
    height: 17px !important;
    margin-top: 1px;
    border: none;
    font-size: 14px;
    color: #E8E9EA;
    font-family: Arial;
    letter-spacing: 2.3px;
    border-right: 1px solid #707070;
    border-left: 1px solid #707070;
}
.OuterLowerMenuArea .InnerLowerMenuArea .SubMenuSpecialBar .Textbox:focus
{
    background-color: white;
    color: Black;
}
.OuterLowerMenuArea .InnerLowerMenuArea .SubMenuSpecialBar .Button-Toolbar
{
    border-right: 1px solid #707070;
    padding: 5px 12px 0 12px;
    cursor: pointer;
    float: left;
    height: 23px;
    vertical-align: middle;
}
.Button-Toolbar:hover
{
    background: #4B5254;
}

.Button-Toolbar span
{
    display: block;
    margin-top: 3px;
    font-family: Arial;
    letter-spacing: 0.8px;
    font-size: 11px;
    font-weight: bold;
    color: #E8E9EA;
    float: right;
}
.Button-Toolbar img
{
    float: left;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}
/*------------------------------------------------------------------------------*/
/*ModelEditor-------------------------------------------------------------------*/

/*ToolBox*/
#ToolBox
{
    float: left;
    margin-top: 30px;
    width: 185px;
}

/*PropertiesBox*/
#PropertiesBox
{
    float: right;
    margin-top: 30px;
    width: 300px;
}
#PropertiesBox table
{
    width: 100%;
}
#PropertiesBox table tbody td
{
    vertical-align: top;
}
#PropertiesBox table tbody td .Label-Small
{
    display: block;
    margin-top: 8px;
    float: left;
    white-space: nowrap;
}
#PropertiesBox .Textbox, #PropertiesBox .Dropdown, #PropertiesBox .Textarea
{
    width: 100%;
    min-width: 150px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#PropertiesBox .Textarea
{
    height: auto;
    overflow: hidden;
    min-height: 100px;
}
#PropertiesBox .AreaDiv
{
    background-color: #F7F7F7;
    padding: 5px;
}
#PropertiesBox .AreaDiv .InnerContainer
{
    padding: 5px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 5px;
    padding-bottom: 5px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .ListActionsDiv
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    float: left;
    margin-bottom: 10px;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .ListElement
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    float: left;
    width: 100%;
    border: 1px solid #E6E6E6;
    background-color: #EFEFEF;
    text-align: left;
    padding: 8px;
    margin-top: 2px;
    cursor: default;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .Selected
{
    background-color: #FFEDA4;
    border: 1px solid #FFDB48;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .ListElement:hover
{
    background-color: #FFEDA4;
    border: 1px solid #FFDB48;
}
#PropertiesBox .AreaDiv .InnerContainer .ListDiv .ListElement .IconButton-Simple
{
    float: right;
}
#PropertiesBox .AreaDiv .InnerContainer .DetailsDiv
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    clear: both;
    float: left;
    border-top: 1px solid #DDDDDD;
    padding: 5px;
    overflow: auto;
    background-color: #fff7d7;
}
#PropertiesBox .AreaDiv .InnerContainer .DetailsDiv .CompositeList
{
    width: 100%;
}

/*ModelDiagramBox*/
#ModelDiagramBox
{
    float: right;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 29px;
    width: 80%;
}
#ModelDiagramBox #SVGCanvasWrapper
{
    overflow: scroll;
    width: 100%;
    height: 700px;
}
#ModelDiagramBox #SVGCanvasWrapper #SVGCanvas
{
    width: 6500px;
    height: 4500px;
    background-color: White;
}
.Inputbox
{
    border: 1px solid #E6E6E6;
    font-size: 11px;
    text-align: center;
}

/*ExplorerBox*/
#ModelExplorerBox
{
    float: left;
    margin-top: 30px;
    width: 185px;
    height: 451px;
    clear: left;
}
#ModelExplorerBox .TreeArea
{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background-color: #F7F7F7;
    padding: 5px 0px 5px 2px;
    height: 100%;
    overflow: auto;
}
/*------------------------------------------------------------------------------*/
/*ConfigurationEditor-----------------------------------------------------------*/

/*ConfigurationExplorer*/
#ConfigurationExplorerBox
{
    float: left;
    margin-top: 30px;
    width: 185px;
}

/*StandardViewBox*/
#StandardViewBox
{
    float: right;
    margin-top: 30px;
    width: 80%;
}
#StandardViewBox #InnerViewArea
{
    height: 670px;
    overflow: scroll;
    padding:15px;
}

#StandardViewBox .Entry
{
    float:left;
    clear:both;
    padding-top:15px;
    background: url(themes/base/images/Controls/featureSelectionConnector-verticalline.png) repeat-y 75px -20px;
}
#StandardViewBox .Entry > .Connector
{
    width:130px;
    height:30px;
    float:left;
    background: url(themes/base/images/Controls/featureSelectionConnector-standard.png) no-repeat 75px -23px;
}

#StandardViewBox .Entry[last]
{
    background: url(themes/base/images/Controls/featureSelectionConnector-last.png) no-repeat 75px 0;
}
#StandardViewBox .Entry[last] > .Connector
{
    background:none;
}

#StandardViewBox .Entry[root]
{
    background:none;
}
#StandardViewBox .Entry[root] > .Connector
{
    display:none;
}

/*FeatureControl*/
#StandardViewBox .Entry > .FeatureControl
{
    float: right;
}
#StandardViewBox .Entry > .FeatureControl .InnerFeatureArea
{
    float: left;
    clear: both;
    border: solid 1px #CECECE;
    padding-left:6px;
    padding-right:6px;
    width: 180px;
    background: #E1E9FF;
    cursor:default;
}
#StandardViewBox .Entry > .FeatureControl .InnerFeatureArea:hover
{
    background: #D7E1FF !important;
}
#StandardViewBox .Entry> .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    width:16px;
    height:16px;
    margin-top:8px;
    padding:0;
    float:right;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea
{
    float: left;
    clear: both;
    border: solid 1px #D7D7D7;
    border-top: none;
    padding-left: 6px;
    padding-right: 6px;
    width: 180px;
    cursor: default;
    background: #FFFFD5;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea .Attribute
{
    line-height: 36px;
    height: 36px;
    float: left;
    clear: both;
    font-size: 9px;
    font-family: Arial;
    letter-spacing: 0.9px;
    color: Gray;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea .Attribute:last-child
{
    border-bottom: none;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea .Attribute .Textbox
{
    width:90px;
    height:10px;  
    margin-top:7px; 
    font-size: 10px;
    font-family: Arial;
    letter-spacing: 0.9px;
    float:right;
     border: 1px solid #D7D7D7;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea .Attribute .InnerCheckbox
{
    margin-top:7px; 
    float:right;
}
#StandardViewBox .Entry > .FeatureControl > .AttributesArea .Attribute .Textbox[disabled]
{
    margin-top:8px; 
    
    border:none;
    background:transparent;
    color:Black !important;
}

#StandardViewBox .Entry .FeatureControl .HeaderDiv 
{
}
#StandardViewBox .Entry .FeatureControl .HeaderDiv .NameLabel
{
    line-height: 32px;
    height: 32px;
    float: left;
    
    font-size: 12px;
    font-family: Arial;
    letter-spacing: 1.3px;
}
#StandardViewBox .Entry .FeatureControl .ChildFeaturesArea
{
    float:left;
    width:auto;
    clear: both;
}


/*GroupControl*/
#StandardViewBox .Entry > .GroupControl
{
    float: right;
    border: 5px solid #EEEEEE;
    padding: 5px;
    padding-top: 0px;
    background:white;
}
#StandardViewBox .Entry > .GroupControl > .ChildFeaturesArea > .Entry > .Connector
{
    display:none;
}
#StandardViewBox .Entry > .GroupControl > .ChildFeaturesArea > .Entry 
{
    background:none;
    padding-top:5px;
}

/*Selected*/
#StandardViewBox .Entry[featureSelectionState='selected'] > .FeatureControl > .InnerFeatureArea
{
    border: 1px solid #909090;
    background: #CEDBFF;
}
#StandardViewBox .Entry[featureSelectionState='selected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    background: url(themes/base/images/Controls/check-selected.png) no-repeat center center;
    
}
#StandardViewBox .Entry[featureSelectionState='selected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .NameLabel 
{
    color: black;
}
/*Unselected*/
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl > .InnerFeatureArea
{
    background: #F4F4F4;
    border: 1px solid #D7D7D7;
}
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    background: url(themes/base/images/Controls/check-unselected.png) no-repeat center center;
}
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .NameLabel
{
    color: #808080;
}
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl > .AttributesArea 
{
    display:none;
}
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl > .AttributesArea .Attribute
{
    display:none;
}
#StandardViewBox .Entry[featureSelectionState='unselected'] > .FeatureControl  .ChildFeaturesArea
{
    /*display:none;*/
}
/*Deselected*/
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl > .InnerFeatureArea
{
    background: #FFE1D7;
    border: 1px solid #D7D7D7;
}
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    background: url(themes/base/images/Controls/check-deselected.png) no-repeat center center;
}
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .NameLabel
{
    color: #808080;
}
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl > .AttributesArea 
{
    display:none;
}
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl > .AttributesArea .Attribute
{
    display:none;
}
#StandardViewBox .Entry[featureSelectionState='deselected'] > .FeatureControl  .ChildFeaturesArea
{
    /*display:none;*/
}

/*Selected-Disabled*/
#StandardViewBox .Entry[featureSelectionState='selected'][isdisabled] > .FeatureControl > .InnerFeatureArea
{
    background: #EAF0FF;
    border: solid 1px #D7D7D7 !important;
}
#StandardViewBox .Entry[featureSelectionState='selected'][isdisabled] > .FeatureControl > .InnerFeatureArea:hover
{
    background: #EAF0FF !important;
    border: solid 1px #CECECE !important;
}
#StandardViewBox .Entry[featureSelectionState='selected'][isdisabled] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    background: url(themes/base/images/Controls/check-selected-disabled.png) no-repeat center center;
}
#StandardViewBox .Entry[featureSelectionState='selected'][isdisabled] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .NameLabel 
{
    color: black;
}

/*Deselected-Disabled*/
#StandardViewBox .Entry[featureSelectionState='deselected'][isdisabled] > .FeatureControl > .InnerFeatureArea
{
    background: #FEF0EB;
    border: solid 1px #D7D7D7 !important;
}
#StandardViewBox .Entry[featureSelectionState='deselected'][isdisabled] > .FeatureControl > .InnerFeatureArea:hover
{
    background: #FEF0EB !important;
    border: solid 1px #CECECE !important;
}
#StandardViewBox .Entry[featureSelectionState='deselected'][isdisabled] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .Checkbox
{
    background: url(themes/base/images/Controls/check-deselected-disabled.png) no-repeat center center;
}
#StandardViewBox .Entry[featureSelectionState='deselected'][isdisabled] > .FeatureControl > .InnerFeatureArea > .HeaderDiv .NameLabel 
{
    color: black;
}
/*------------------------------------------------------------------------------*/
/***********************************************************************************************/